extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/about.jpg", alt="About Image")
            .col-md-7
                h1 #{pageTitle}
                blockquote Nam ultricies augue commodo tortor luctus, a tristique odio mollis. Proin maximus, nunc sed pulvinar lacinia, urna lacus tempus ex, nec laoreet metus nibh in dui.
                p Etiam orci tellus, vestibulum quis ante eu, iaculis rutrum lectus. Aenean semper, ipsum ut sodales lobortis, eros sem volutpat arcu, non aliquam metus lacus dignissim elit. Sed egestas aliquam lectus ac sollicitudin. Vivamus euismod nisl nec massa scelerisque cursus. Proin posuere tincidunt dolor, ac sodales dui. Cras eu cursus sapien. Nam velit metus, suscipit ut magna vitae, imperdiet pulvinar neque.
                p Vestibulum rutrum, enim sit amet rutrum porttitor, ligula eros placerat enim, ac volutpat tortor magna vitae nisi. Donec accumsan mauris quam, nec lacinia nisl hendrerit non. Donec fermentum tincidunt dui, in placerat tellus gravida quis. Nunc id velit eu ex lacinia varius eget sed diam. Vestibulum malesuada lacus sit amet risus vehicula elementum.
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", class="img-fluid mb-4")
                    h2.mb-4 Trust and Saftey
                    p Maecenas molestie, nisl a efficitur pulvinar, elit ligula bibendum nibh, et elementum elit velit at nisi. Praesent sem turpis, ultrices vitae libero ornare, rhoncus feugiat libero. Duis egestas purus ut blandit tempus. 
                .col-md-4
                    img(src="/img/icon_destiny.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Destinations
                    p Maecenas molestie, nisl a efficitur pulvinar, elit ligula bibendum nibh, et elementum elit velit at nisi. Praesent sem turpis, ultrices vitae libero ornare, rhoncus feugiat libero. Duis egestas purus ut blandit tempus. 
                .col-md-4
                    img(src="/img/icon_price.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Price
                    p Maecenas molestie, nisl a efficitur pulvinar, elit ligula bibendum nibh, et elementum elit velit at nisi. Praesent sem turpis, ultrices vitae libero ornare, rhoncus feugiat libero. Duis egestas purus ut blandit tempus. 